
KokazGoodsTransfer/bin/Debug/netcoreapp3.0/KokazGoodsTransfer.pdb
/bin
bin
./bin
.vs
/.vs
Export.bat
export.bat
KokazGoodsTransfer/obj
PublishToHerohuBat.bat
/.vscode
/Properties/PublishProfiles
KokazGoodsTransfer/Properties/PublishProfiles/
/KokazGoodsTransfer/wwwroot/Log.Txt
/KokazGoodsTransfer/appsettings.Development.json
